* {box-sizing: border-box;}
body {
	background-color: #000000;
	color: #000000;
	background-position: center;
	margin: 0;
	font-family: "Lato", sans-serif;
	padding: 0;
}
.text-white{
    color: #000;
	text-shadow:1px 1px 0 #444;
}
.white-box {
    background-color: white;
    color: black;
    width: 70%;
	height: 700px;
}
.side-bar {
	display: none;
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
}
.side-bar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #f1f1f1;
	display: block;
}
.side-bar a:hover {
	color: #818181;
}
@media screen and (max-height: 450px) {
	.side-bar {padding-top: 15px;}
	.side-bar a {font-size: 18px;}
}
#nav-bar{
	position: fixed;
	right: 1px;
	z-index: 19;
	float: right;
}
.nav-bar-btn {
    display: inline-block;
    cursor: pointer;
	color: white;
	font-size: 25px;
	font-weight: bold;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.logo {
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 10px;
	background-color: transparent;
	width: 400px;
	margin: auto;
	position: relative;
	font-family: monospace;
}
.logo:hover {
	color: gray;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}